{{ define "main" }}
<div class="wrapper">
  <section class="section-projects">
  <article class="project-single">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-header">
            <h3 class="section-title-outline">{{ .Title }}<strong>_</strong></h3>
            {{ with .Params.tags }}
            {{ range . }}
              <span class="badge badge-primary" href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</span>
            {{ end }}
            {{ end }}
            <p>{{ .Content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          {{ with .Params.featured_image }}
          <img class="project-single-img" src="{{ . | urlize }}" alt="">
          {{ end }}
          <div class="text-center mt-3">
              {{ with .Params.project_link }}
          <a class="btn btn-primary" href="{{ . | relURL }}">Website <i class="fas fa-link ml-2"></i></a>
          {{ end }}
        </div>
        </div>
      </div>
    </div>
  </article>
</section>
</div>
{{ end }}