html {
    scroll-behavior: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: $background;
}

.wrapper {
    flex-grow: 1;
    min-height: 400px;
}

// TEMPOORARY
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60pt;
    color: $primary;
}

a {
    text-decoration: none !important;
}

::selection {
    background: $primary;
}

::-moz-selection {
    background: $primary;
}