button:focus {
    outline: none;
    outline: none;
}

.btn {
    // border-radius: inherit !important;
    text-transform: uppercase;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.btn-sm {
    padding: 0.25rem 1rem;
}
.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: rgba($color: $primary, $alpha: 1);
    border: 1px solid rgba($color: $primary, $alpha: 1);
    box-shadow: none;
}

.btn-outline-primary {
    color: $primary;
    border: 1px solid $primary;
}

.btn-outline-primary:hover {
    background-color: $primary;
    border: 1px solid $primary;
}

.btn-outline-primary:focus {
    box-shadow: none;
}