.card {
    border-radius: inherit;
    border: 1px solid rgba($color: $white, $alpha: 0.1);
    background-color: $background;
    color: $white;
    transition: 0.3s;
    a {
        text-decoration: none;
        color: $white;
    }
}
.card-img-top {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card:hover {
    transform: scale(1.05);
    background-color: $background-dark;
    border: 1px solid rgba($color: $primary, $alpha: 1);    
}


.card-title {
    color: $primary;
    text-transform: uppercase;
    font-weight: bolder;
}