.grid-container {
    display: flex;
    background-color: aquamarine;
    flex-grow: 1;

    p {
        color: $white;
        opacity: 0.8;
    }


    .half-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        width: 30%;
        background: $primary;
        @include grid-pattern;
        border-right: 1px solid $primary;
        
       h3 {
           color: $white;
           font-weight: bolder;
           margin-bottom: 2rem;
       }
        .nav-link, a{
            color: $white;
            text-decoration: none;
        }
    }

    .half-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 70%;
        padding: 5rem;
        background-color: $background;
    }
}

@media screen and (max-width: 1024px) {
    .half-right {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        flex-direction: column;

        .half-left {
            width: 100%;
        }

        .half-right {
            width: 100%;
            padding: 2rem;
        }
    }

}