header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba($primary, 1);
  background-color: $background;
  font-weight: 500;
  color: white;
}

.navbar {
  padding: 0rem 0rem;
}


.navbar-dark .navbar-nav .active>.nav-link {
  color: $primary !important;
  font-weight: bolder !important;
}
