.project-single {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $white;
    p {
        color: rgba($color: $white, $alpha: 0.7);
    }
}

.project-single-img {
    width: 100%;
    height: 300px;
    background-color: $dark-night;
} 