.summary{
    position: fixed;
    bottom: 400px;
    left: 0px;
    // background-color: $white;
    font-family: 'Ubuntu Mono';
    color: $primary;
    font-size: 12pt;
    z-index: 30;
    padding: 0.5rem 0.5rem;
    margin-left: 1rem;
    width: 150px;
    font-weight: bolder;
    // border-bottom: 1px solid $white;
    list-style-type: circle !important;


 }
// .summary_item, .active{
//     color: $white;
//     border-bottom: 1px solid $white;
// }