header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #131127;
  font-weight: 500;
  color: white;
}

.navbar {
  padding: 0.5rem 0rem;
}

.active {
  color: #304ffe !important;
}