// Colors Palette
$blue-electric: #304ffe;
$purple-spectre: #651fff;
$green-acide: #00e676;
$red-volcano: #f44336;
$pink-lady: #e91e63;
$white: #fff;
$grey: #202020;
$light: #e0e0e0;
$night: #0d0d0e;
$dark-night: #131127;
$black: #000000;

// Colors Sheme
$primary: $blue-electric;
$secondary: $grey;
$danger: $red-volcano;
$success: $green-acide;
$background: $night;
$background-dark: $dark-night;