// Colors Palette
$blue-electric: #304ffe;
$blue-light: #0081fa;
$purple-spectre: #651fff;
$green-acide: #00e676;
$green-chewing: #22d1ab;
$red-volcano: #f44336;
$pink-lady: #e91e63;
$yellow-racing: #e49008;
$white: #fff;
$grey: #202020;
$light: #e0e0e0;
$night: #000000;
$dark-night: #0a0b0b;
$black: #000000;

// Colors Sheme
$primary: $blue-light;
$secondary: $grey;
$danger: $red-volcano;
$success: $green-acide;
$background: rgb(14, 15, 20);
$background-dark: $dark-night;