<section class="section-career" id="section-career">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-header">
                    <h3 class="section-title">// Formations<strong>_</strong>Expériences</h3>
                    <p class="section-subtitle-light">Vous trouverez mes compétences ci dessous</p>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Empty Column-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h4>Formations :</h4>
                {{ range .Site.Data.formations }}
                <div class="career">
                    {{ $startdate := time .startdate }}
                    {{ $enddate := time .enddate }}
                    <span class="career-date">{{ dateFormat "January 2006" $startdate }} // {{ dateFormat "January 2006" $enddate  }}</span>
                    <h5 class="career-title">{{ .title }}</h5>
                    <h6 class="career-subtitle">{{ .school }}</h6>
                    <p class="career-text">{{ .description }}</p>
                </div>
      
                {{ end }} 
            </div>

            <div class="col-lg-6">
                <h4>Parcours Professionel</h4>
                {{ range .Site.Data.careers }}
                {{ $startdate := time .startdate }}
                {{ $enddate := time .enddate }}
                <div class="career">
                    <span class="career-date">{{ dateFormat "January 2006" $startdate }} // {{ dateFormat "January 2006" $enddate  }}</span>
                    <h5 class="career-title">{{ .title }}</h5>
                    <h6 class="career-subtitle">{{ .company }}</h6>
                    <p class="career-text">{{ .description }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>