<section class="section-skills" id="section-skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Empty Column-->
            </div>
            {{ with .Site.Params.section_skills}}
            <div class="col-lg-6">
                <div class="section-header text-right">
                    <h3 class="section-title-outline">Mes_Projets<div class="cursor blink"></div>
                    </h3>
                    <p class="section-subtitle">{{ .subtitle }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>