<section class="section-skills" id="section-skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- Empty Column-->
      </div>
      {{ with .Site.Params.section_skills}}
      <div class="col-lg-6">
        <div class="section-header text-right">
            <h3 class="section-title-outline">Mes<strong>_</strong>Projets //</h3>
          </h3>
          <p class="section-subtitle">Quelques projets que j'ai réalisé</p>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="card-deck">
      {{ range first 3 (where .Pages.ByPublishDate.Reverse "Section" "projects") }}
      <div class="card">
        <a href="{{ .Permalink }}">
          <img src="https://images.unsplash.com/photo-1549558549-415fe4c37b60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1565&q=80"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            {{ with .Params.tags }}
              {{ range . }}
                <span class="badge badge-primary" href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</span>
              {{ end }}
            {{ end }}
            <p class="card-text">{{ .Summary | truncate 100 }}</p>
            {{/*  <p class="card-text"><small class="text-muted">{{ .Date.Format "Mon, Jan 2, 2006" }}</small></p>  */}}
          </div>
        </a>
      </div>
      {{ end }}
    </div>
    
  </div>
</section>